
# OSX folder stuff
.DS_Store
Thumbs.db

#IDE project files
/.idea/
.settings
.project

# emacs backup files
*~

# Ignore test-reports
target/
reports/*.html
reports/*.xml
reports/*.json
reports/screenshots/
test-reports
capybara-*.html
debug.log

BrowserStackLocal
cbttunnel.jar

/.yardoc/
/local.log
.run/*.xml
